<div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= url %>')">
  <div class="card-description">
    <h2><%= gear_type %> </h2>
    <p><%= gear_model %></p>
  </div>
</div>
