
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1>New Gear</h1>
      <%= render 'form' %>
      <%= @errors %>

<% if @gear.photos? %>
  <%= cl_image_tag @gear.photo.path, width: 200, height: 300, crop: :fill %>
<% end %>

    </div>
  </div>
</div>


<p>Find me in app/views/gears/new.html.erb</p>
