.bordure_grise h3 {
  background-color: #ccc;
  border-bottom: 1px grey solid;
  margin:0;
  font-size: 1.2em;
  padding: 0.4em;
  }
  .bordure_grise {
  border: 1px grey solid;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 2em;
  }
  .bordure_grise i {
    margin-right: 10px;
    margin-left: 10px;
  }
  .bordure_grise p {
    font-size: 12px;
  }
  .fond-blanc {
    background-color: white;
    padding: 15px;
  }
