<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
  </div>

    <p> This great app was build by  <img src='https://kitt.lewagon.com/placeholder/users/cecilevarin' class="avatar"/>
<img src='https://kitt.lewagon.com/placeholder/users/totor34' class="avatar"/>
<img src='https://kitt.lewagon.com/placeholder/users/mathisclm' class="avatar"/>
</p>



</div>
